---
const title = "Holland Sersen";
---

<nav class="flex w-full items-center p-8 text-black">
  <div class="">
    <h3 class="ml-4 text-2xl font-bold text-black hover:opacity-50">
      <a href="/" class="text-black">
        Holland<span class="text-red-500">Sersen</span>
      </a>
    </h3>
  </div>
  <ul
    class="float-right ml-auto flex gap-4 pr-4 text-xl font-light tracking-wide"
  >
    <li class="hover:opacity-50"><a href="/">Blog</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
</nav>
