---
import Nav from "../components/Nav.svelte";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{"Holland Sersen | " + frontmatter.title}</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="flex w-screen flex-col align-middle dark:bg-black">
    <Nav client:only />
    <div class="ml-auto mr-auto max-w-4xl items-center p-4 align-middle">
      <div class="w-full">
        <div class="h-fit px-4 pt-4">
          <h1>{frontmatter.title}</h1>
          <h3>{"By " + frontmatter.author}</h3>
        </div>
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="p-4"
        />
      </div>
      <div class="blog p-4">
        <slot />
      </div>
    </div>
  </body>
</html>
