---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{"Holland Sersen | " + frontmatter.title}</title>
  </head>
  <body class="flex w-screen flex-col align-middle">
    <Nav />
    <div class="blog w-2/3 items-center p-12 align-middle">
      <div class="flex w-full items-center justify-center">
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="w-1/2 items-center"
        />
        <div class="h-fit p-4">
          <h1>{frontmatter.title}</h1>
          <h3>{"By " + frontmatter.author}</h3>
        </div>
      </div>
      <div class="mt-8">
        <slot />
      </div>
    </div>
  </body>
</html>
